<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="brand-link">
        <img th:src="@{'/static/logincss/logo.png'}"  class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">LINS</span>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional)
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{'/static/AdminLTE/dist/img/user2-160x160.jpg'}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>
        -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <th:block th:if="${#strings.startsWith(session.menuActive,'1')}">
                    <li class="nav-item has-treeview menu-open">
                        <a href="javascript:void(0);" class="nav-link active">
                </th:block>
                <th:block th:unless="${#strings.startsWith(session.menuActive,'1')}">
                    <li class="nav-item has-treeview">
                        <a  href="javascript:void(0);" class="nav-link">
                </th:block>
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            资源管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <th:block th:if="${session.menuActive eq '11'}">
                                <a th:href="@{'/dash/main'}" class="nav-link active">
                            </th:block>
                            <th:block th:unless="${session.menuActive eq '11'}">
                                <a th:href="@{'/dash/main'}" class="nav-link">
                            </th:block>
                                <i class="far fa-circle nav-icon"></i>
                                <p>监控概要</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <th:block th:if="${session.menuActive eq '12'}">
                                <a th:href="@{'/dash/systemInfoList'}" class="nav-link active">
                            </th:block>
                            <th:block th:unless="${session.menuActive eq '12'}">
                                <a th:href="@{'/dash/systemInfoList'}" class="nav-link">
                            </th:block>
                                <i class="nav-icon fas fa-desktop"></i>
                                <p>主机管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <th:block th:if="${session.menuActive eq '13'}">
                                <a th:href="@{'/appInfo/list'}" class="nav-link active">
                            </th:block>
                            <th:block th:unless="${session.menuActive eq '13'}">
                                <a th:href="@{'/appInfo/list'}" class="nav-link">
                            </th:block>
                        <i class="fas fa-tasks nav-icon"></i>
                        <p>进程管理</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '14'}">
                            <a th:href="@{'/containerInfo/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '14'}">
                            <a th:href="@{'/containerInfo/list'}" class="nav-link">
                        </th:block>
                        <i class="fab fa-docker nav-icon"></i>
                        <p>容器管理</p>
                        </a>
                    </li>
                </ul>
                </li>


                <th:block th:if="${#strings.startsWith(session.menuActive,'41') || #strings.startsWith(session.menuActive,'42')}">
                    <li class="nav-item has-treeview menu-open">
                        <a  href="javascript:void(0);" class="nav-link active">
                </th:block>
                <th:block th:unless="${#strings.startsWith(session.menuActive,'41') || #strings.startsWith(session.menuActive,'42')}">
                    <li class="nav-item has-treeview">
                        <a  href="javascript:void(0);" class="nav-link">
                </th:block>
                <i class="nav-icon fas fa-table"></i>
                <p>
                    数据库监控
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '41'}">
                            <a th:href="@{'/dbInfo/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '41'}">
                            <a th:href="@{'/dbInfo/list'}" class="nav-link">
                        </th:block>
                        <i class="fas fa-database nav-icon"></i>
                        <p>数据源管理</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '42'}">
                            <a th:href="@{'/dbTable/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '42'}">
                            <a th:href="@{'/dbTable/list'}" class="nav-link">
                        </th:block>
                        <i class="fas fa-table nav-icon"></i>
                        <p>数据表管理</p>
                        </a>
                    </li>
                </ul>
                </li>

                <th:block th:if="${#strings.startsWith(session.menuActive,'43')}">
                    <li class="nav-item has-treeview menu-open">
                        <a  href="javascript:void(0);" class="nav-link active">
                </th:block>
                <th:block th:unless="${#strings.startsWith(session.menuActive,'43')}">
                    <li class="nav-item has-treeview">
                        <a  href="javascript:void(0);" class="nav-link">
                </th:block>
                <i class="nav-icon fas fa-file-alt"></i>
                <p>
                    日志监控
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '431'}">
                            <a th:href="@{'/logMonitor/ssh/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '431'}">
                            <a th:href="@{'/logMonitor/ssh/list'}" class="nav-link">
                        </th:block>
                        <i class="fas fa-lock nav-icon"></i>
                        <p>SSH日志监控</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '432'}">
                            <a th:href="@{'/logMonitor/nginx/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '432'}">
                            <a th:href="@{'/logMonitor/nginx/list'}" class="nav-link">
                        </th:block>
                        <i class="fas fa-server nav-icon"></i>
                        <p>Nginx日志监控</p>
                        </a>
                    </li>
                </ul>
                </li>

                <th:block th:if="${#strings.startsWith(session.menuActive,'5')}">
                    <li class="nav-item has-treeview menu-open">
                        <a  href="javascript:void(0);" class="nav-link active">
                </th:block>
                <th:block th:unless="${#strings.startsWith(session.menuActive,'5')}">
                    <li class="nav-item has-treeview">
                        <a  href="javascript:void(0);" class="nav-link">
                </th:block>
                <i class="nav-icon fas fa-link"></i>
                <p>
                    服务探活
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '51'}">
                            <a th:href="@{'/heathMonitor/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '51'}">
                            <a th:href="@{'/heathMonitor/list'}" class="nav-link">
                        </th:block>
                        <i class="far fa-circle nav-icon"></i>
                        <p>探活管理</p>
                        </a>
                    </li>
                </ul>
                </li>



                <th:block th:if="${#strings.startsWith(session.menuActive,'3')}">
                    <li class="nav-item has-treeview menu-open">
                        <a  href="javascript:void(0);" class="nav-link active">
                </th:block>
                <th:block th:unless="${#strings.startsWith(session.menuActive,'3')}">
                    <li class="nav-item has-treeview">
                        <a  href="javascript:void(0);" class="nav-link">
                </th:block>
                <i class="nav-icon fas fa-bell"></i>
                <p>
                    告警设置
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '31'}">
                            <a th:href="@{'/alert/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '31'}">
                            <a th:href="@{'/alert/list'}" class="nav-link">
                        </th:block>
                        <i class="far fa-circle nav-icon"></i>
                        <p>多渠道告警</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '32'}">
                            <a th:href="@{'/alert/config'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '32'}">
                            <a th:href="@{'/alert/config'}" class="nav-link">
                        </th:block>
                        <i class="far fa-circle nav-icon"></i>
                        <p>告警配置</p>
                        </a>
                    </li>

                </ul>
                </li>


                <th:block th:if="${#strings.startsWith(session.menuActive,'2')}">
                    <li class="nav-item has-treeview menu-open">
                        <a  href="javascript:void(0);" class="nav-link active">
                </th:block>
                <th:block th:unless="${#strings.startsWith(session.menuActive,'2')}">
                    <li class="nav-item has-treeview">
                        <a  href="javascript:void(0);" class="nav-link">
                </th:block>
                <i class="nav-icon fas fa-history"></i>
                <p>
                    系统日志
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '21'}">
                            <a th:href="@{'/log/list'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '21'}">
                            <a th:href="@{'/log/list'}" class="nav-link">
                        </th:block>
                        <i class="far fa-circle nav-icon"></i>
                        <p>日志信息</p>
                        </a>
                    </li>

                </ul>
                </li>


                <th:block th:if="${#strings.startsWith(session.menuActive,'6')}">
                    <li class="nav-item has-treeview menu-open">
                        <a  href="javascript:void(0);" class="nav-link active">
                </th:block>
                <th:block th:unless="${#strings.startsWith(session.menuActive,'6')}">
                    <li class="nav-item has-treeview">
                        <a  href="javascript:void(0);" class="nav-link">
                </th:block>
                <i class="nav-icon fas fa-cog"></i>
                <p>
                    设置
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <th:block th:if="${session.menuActive eq '61'}">
                            <a th:href="@{'/settings/pwd'}" class="nav-link active">
                        </th:block>
                        <th:block th:unless="${session.menuActive eq '61'}">
                            <a th:href="@{'/settings/pwd'}" class="nav-link">
                        </th:block>
                        <i class="fas fa-key nav-icon"></i>
                        <p>修改密码</p>
                        </a>
                    </li>

                </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>