<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.ContainerStateMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.ContainerState">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOSTNAME" property="hostname" jdbcType="CHAR" />
		<result column="CONTAINER_NAME" property="containerName" jdbcType="CHAR" />
		<result column="CPU_PER" property="cpuPer" jdbcType="DOUBLE" />
		<result column="MEM_PER" property="memPer" jdbcType="DOUBLE" />
		<result column="MEM_USAGE" property="memUsage" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="tableColumnList">
		ID,HOSTNAME,CONTAINER_NAME,CPU_PER,MEM_PER,MEM_USAGE,CREATE_TIME
	</sql>

	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT <include refid="tableColumnList" /> FROM CONTAINER_STATE WHERE ID=#{id}
	</select>

	<select id="selectByContainerInfoId" resultMap="resultMap" parameterType="map">
		SELECT <include refid="tableColumnList" /> FROM CONTAINER_STATE
		<where>
			<if test="hostname != null"><![CDATA[ AND HOSTNAME = #{hostname} ]]></if>
			<if test="containerName != null"><![CDATA[ AND CONTAINER_NAME = #{containerName} ]]></if>
			<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
				<![CDATA[ AND CREATE_TIME >= #{startTime} and CREATE_TIME <=#{endTime}]]>
			</if>
		</where>
		ORDER BY CREATE_TIME DESC
	</select>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM CONTAINER_STATE WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">#{item}</foreach>
	</delete>

	<delete id="deleteByDate" parameterType="map">
		DELETE FROM CONTAINER_STATE WHERE <![CDATA[ CREATE_TIME <=#{endTime}]]>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.ContainerState">
		INSERT INTO CONTAINER_STATE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="hostname != null">HOSTNAME,</if>
			<if test="containerName != null">CONTAINER_NAME,</if>
			<if test="cpuPer != null">CPU_PER,</if>
			<if test="memPer != null">MEM_PER,</if>
			<if test="memUsage != null">MEM_USAGE,</if>
			<if test="createTime != null">CREATE_TIME,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="hostname != null">#{hostname},</if>
			<if test="containerName != null">#{containerName},</if>
			<if test="cpuPer != null">#{cpuPer},</if>
			<if test="memPer != null">#{memPer},</if>
			<if test="memUsage != null">#{memUsage},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO CONTAINER_STATE (ID,HOSTNAME,CONTAINER_NAME,CPU_PER,MEM_PER,MEM_USAGE,CREATE_TIME) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id},#{item.hostname},#{item.containerName},#{item.cpuPer},#{item.memPer},#{item.memUsage},#{item.createTime})
		</foreach>
	</insert>

	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT <include refid="tableColumnList" /> FROM CONTAINER_STATE t
		<where>
			<if test="hostname != null"><![CDATA[ AND HOSTNAME = #{hostname} ]]></if>
			<if test="containerName != null"><![CDATA[ AND CONTAINER_NAME = #{containerName} ]]></if>
		</where>
		ORDER BY CREATE_TIME DESC
	</select>

	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT <include refid="tableColumnList" /> FROM CONTAINER_STATE
		<where>
			<if test="hostname != null"><![CDATA[ AND HOSTNAME = #{hostname} ]]></if>
			<if test="containerName != null"><![CDATA[ AND CONTAINER_NAME = #{containerName} ]]></if>
		</where>
		ORDER BY CREATE_TIME DESC
	</select>

	<select id="selectDistinctContainerName" parameterType="map" resultType="java.lang.String">
		SELECT DISTINCT CONTAINER_NAME FROM CONTAINER_STATE
		<where>
			<if test="hostname != null"><![CDATA[ AND HOSTNAME = #{hostname} ]]></if>
		</where>
		ORDER BY CONTAINER_NAME ASC
	</select>

</mapper>
