<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lins.mapper.SystemConfigMapper">
	<resultMap id="resultMap" type="com.lins.entity.SystemConfig">
		<id column="CONFIG_KEY" property="configKey" jdbcType="VARCHAR" />
		<result column="CONFIG_VALUE" property="configValue" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="tableColumnList">
		CONFIG_KEY,CONFIG_VALUE
	</sql>

	<insert id="save" parameterType="com.lins.entity.SystemConfig">
		INSERT INTO SYSTEM_CONFIG (CONFIG_KEY, CONFIG_VALUE)
		VALUES (#{configKey}, #{configValue})
	</insert>

	<update id="updateByKey" parameterType="com.lins.entity.SystemConfig">
		UPDATE SYSTEM_CONFIG
		SET CONFIG_VALUE = #{configValue}
		WHERE CONFIG_KEY = #{configKey}
	</update>

	<select id="selectByKey" parameterType="java.lang.String" resultMap="resultMap">
		SELECT <include refid="tableColumnList" />
		FROM SYSTEM_CONFIG
		WHERE CONFIG_KEY = #{configKey}
	</select>

	<select id="selectAll" resultMap="resultMap">
		SELECT <include refid="tableColumnList" />
		FROM SYSTEM_CONFIG
	</select>

</mapper>
